### python 기초 문법

In [1]:
a = 5
b = 10
c = a * b ; c

50

In [2]:
e = 10/3  # 실수형 나누기
d = 10//3 # 정수형 나누기
f = 10%3  # 정수형 나누기의 나머지

print("출력", a, b, c, d, e, f, '끝')
d, e, f   # 마지막줄에 작성된 변수는 print 없어도 출력됨

출력 5 10 50 3 3.3333333333333335 1 끝

(3, 3.3333333333333335, 1)

In [3]:
type(e), type(f)

(float, int)

In [4]:
print(a, "*", b, '=', c)
print("{} * {} = {}".format(a, b, c))
print("{1} * {0} = {2}".format(a, b, c))

5 * 10 = 50
5 * 10 = 50
10 * 5 = 50

In [5]:
print("100" + "200")
print(100 + 200)

100200
300

In [6]:
no = input('입력 = ') # 키보드로부터 입력받은 모든 수는 문자 취급
no * 5                # 문자의 곱은 반복

입력 = 5

'55555'

In [7]:
no = input('입력 = ')
no = int(no) 
no * 5

입력 = 5

25

In [8]:
no = int(input('입력 = ')) # 입력받은 문자 -> int로 변환
no * 5

입력 = 5

25

In [9]:
a  =5      # 정수형
b = 5.0    # 실수형
c = 5.1    # 실수형
d = 'a'    # 문자 - string
e = "e"    # 문자 - string
f = ''' 딩가
딩가 '''   # 줄 단위의 문자 - string
g = """ 둥둥
당당 """   # 줄 단위의 문자 - string

- 논리값은 True, False (대소문자 구분)
- 논리값을 마치 숫자인 것처럼 연산에 바로 사용할 수 있다. (True=1,  False=0)

In [10]:
h = True  # 참 논리형(부울형) - 숫자1
i = False # 거짓 논리형(부울형) - 숫자0

In [11]:
type(a), type(i), type(b)

(int, bool, float)

### 리스트
- 여러 항목의 집합체로 각 항목의 타입은 서로 달라도 된다. (정수, 부동소수, 논리값, 문자열 등)
- 리스트를 만들려면 대괄호 [ ]를 사용하고 각 항목을 ','로 구분한다

In [12]:
listA = [a, b, c, d, e, f, g, h, i]
listB = [5, 9, 12, 8, 30]

In [13]:
listA + listB # 데이터 나열

[5, 5.0, 5.1, 'a', 'e', ' 딩가\n딩가 ', ' 둥둥\n당당 ', True, False, 5, 9, 12, 8, 30]

In [14]:
listA*2 # 문자라 2번 반복

[5,
 5.0,
 5.1,
 'a',
 'e',
 ' 딩가\n딩가 ',
 ' 둥둥\n당당 ',
 True,
 False,
 5,
 5.0,
 5.1,
 'a',
 'e',
 ' 딩가\n딩가 ',
 ' 둥둥\n당당 ',
 True,
 False]

In [15]:
listB*2 # 2번 반복

[5, 9, 12, 8, 30, 5, 9, 12, 8, 30]

In [16]:
listC = [5, 10, 15, 20, 25, 30, 35, 40]

In [17]:
# 인덱스: 위치를 번호로 지정
listC[-3], listC[-1], listC[0]

(30, 40, 5)

In [18]:
# 값 수정시 인덱스 이용
listC[-1]=100
listC

[5, 10, 15, 20, 25, 30, 35, 100]

In [19]:
# 슬라이스: 영역을 나누어서 지정
listC[1:5] # 1번 위치부터 ~ 4번 위치까지

[10, 15, 20, 25]

In [20]:
listC[:6] # 0 ~ 5

[5, 10, 15, 20, 25, 30]

In [21]:
listC[3:] # 3 ~ 끝

[20, 25, 30, 35, 100]

In [22]:
type(listC)

list

In [23]:
listC.append(200) # 마지막 위치에 추가됨, 무한으로 실행 가능
listC

[5, 10, 15, 20, 25, 30, 35, 100, 200]

In [24]:
listC.insert(3, 330) # 특정 위치에 삽입(기존 값 밀림)
listC

[5, 10, 15, 330, 20, 25, 30, 35, 100, 200]

In [25]:
listC.insert(0, 330) 
listC

[330, 5, 10, 15, 330, 20, 25, 30, 35, 100, 200]

In [26]:
listC.count(200) # 200이 몇 번 나오는지

1

In [27]:
listC.index(15) # 15가 있는 위치값(인덱스값)

3

### sort()

- sort() : 리스트 항목들의 내용들을 값의 크기 순으로 정렬, 리스트의 내용이 변경
- default : 오름차순

In [28]:
listC.sort() 
listC

[5, 10, 15, 20, 25, 30, 35, 100, 200, 330, 330]

In [33]:
listC.sort(reverse=True) # 내림차순
listC

[330, 330, 200, 100, 35, 30, 25, 20, 15, 10, 5]

In [39]:
listC.reverse() # 오름 -> <- 내림
listC

[330, 330, 200, 100, 35, 30, 25, 20, 15, 10, 5]

### if 문

In [40]:
if 300 in listC :
  listC.remove(330) # 앞쪽에 있는 330 1개를 지움
  print("지움")
else :
  print("300 없음")
listC

300 없음

[330, 330, 200, 100, 35, 30, 25, 20, 15, 10, 5]

In [41]:
if 200 not in listC :
  print("200 없음")
else:
  listC.remove(200)
  print("200 지움")
listC

200 지움

[330, 330, 100, 35, 30, 25, 20, 15, 10, 5]

In [42]:
max(listC)

330

In [43]:
min(listC)

5

In [44]:
sum(listC)

900

In [45]:
len(listC) # len() : 리스트의 길이 (항목의 갯수)

10

In [46]:
sum(listC)/len(listC)

90.0

### 튜플 (tuple)
- 튜플은 리스트처럼 여러 항목의 집합을 담을 수 있는데 리스트와 달리 튜플의 내용은 '상수'로 취급되어 값을 바꿀 수 없다
- 튜플을 만들려면 
        * 소괄호( )를 사용하여 만들거나 
        * 괄호없이 , 로 구분하여 나열한다.
- 튜플 사용 이유 : 항목의 내용을 더 이상 변경 방지 & 처리속도 빠르다.

In [54]:
a=1, 2, 3
b=(1, 2, 3)
type(a), type(b)

(tuple, tuple)

In [55]:
a[0]

1

In [ ]:
# 튜플 수정 불가 a[0]=100 <- 오류

### 사전 (Dictionaries)
- 딕셔너리로 키(key)-값(value) 조합 형태의 리스트를 만들 수 있다. 
- 딕셔너리에서는 항목을 찾을 때 키(key)를 인자로 사용한다
- 딕셔너너리에서 저장된 순서는 중요시하지 않는다.
- 딕셔너리는 중괄호 {  } 로 만든다.

In [57]:
person = {'사람이름' : '홍길동', '나이' : 26, '몸무게' : 82}
# 딕셔너리: 인덱스, 슬라이스 개념 없다. -> 키이름으로 접근, 키 이름:값

print(person['사람이름'])
print(person['나이'])
print(person['몸무게'])
print(len(person))
print(type(person))

홍길동
26
82
3
<class 'dict'>

In [58]:
person['나이']=100    # 기존에 존재하는 이름은 수정
person['직업']='의적' # 새이름은 추가
person

{'사람이름': '홍길동', '나이': 100, '몸무게': 82, '직업': '의적'}

- key() : key 리스트
- value() : 값 리스트
- item() : 딕셔너리 각 항목을 튜플로 만들고 전체 항목을 리스트로 반환(검색 속도를 빠르게 할 목적)

In [59]:
person.keys(), person.values(), person.items()

(dict_keys(['사람이름', '나이', '몸무게', '직업']),
 dict_values(['홍길동', 100, 82, '의적']),
 dict_items([('사람이름', '홍길동'), ('나이', 100), ('몸무게', 82), ('직업', '의적')]))

In [60]:
del person['나이']
person

{'사람이름': '홍길동', '몸무게': 82, '직업': '의적'}

In [61]:
if '나이' in person:
  del person['나이']
  print('지웠다')
else:
  print("없다.")

없다.

In [62]:
del listC[3] # remove, del 됨
listC

[330, 330, 100, 30, 25, 20, 15, 10, 5]

In [63]:
listC.pop() # 마지막 위치 삭제
listC

[330, 330, 100, 30, 25, 20, 15, 10]

In [64]:
listC.pop(2) # 2번째 위치 값 삭제
listC

[330, 330, 30, 25, 20, 15, 10]

In [65]:
person.pop('사람이름') # 딕셔너리의 접근은 키이름으로 한다.
person

{'몸무게': 82, '직업': '의적'}

In [66]:
person.clear()
person

{}